
$shade: #313036;


$white: #FFF;
$black: #252525;
$gray: #808080;


$panel: #DDD;
$spanTag: hsla(1, 0%, 65%, 1); // hsla(1, 0%, 50%, 1);  hsla(1, 0%, 65%, 1);
$spanColor: $white;




$bg: $white;
$fg: $black;
$mid: $gray;
$footer: $black;
